*.bak*
*.cache*
*.dll*
*.env*
*.exe*
*.grunt*
*.log*
*.out*
*.pid*
*.pnp*
*.swap*
*.swp*
*.temp*
*.test*
*.tgz*
*.tmp*
*.token*

.DS_STORE

.cache/
.idea/
.npm/
.vs/
.vscode/

__pycache__/

build/
bundle/
cache/
coverage/
dist/
lib/
node_modules/
out/
pids/

nvim/plugged